.Introduction-section {
    padding-top: 200px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 120px;
    background: black;
}

.Log-In {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    background: black;
    aspect-ratio: 3/4;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 9px;
    border: 2px solid white;
    box-shadow: 1px 1px 10px rgb(122, 122, 122), -1px -1px 10px rgb(122, 122, 122);
    animation: glitter infinite ease-in-out 2s;
}


@keyframes glitter {
    0% {
        box-shadow: 1px 1px 10px rgb(122, 122, 122), -1px -1px 10px rgb(122, 122, 122);
    }

    49% {
        box-shadow: 5.5px 5.5px 10px rgb(122, 122, 122), -5.5px -5.5px 10px rgb(122, 122, 122);
    }

    99% {
        box-shadow: 1px 1px 10px rgb(122, 122, 122), -1px -1px 10px rgb(122, 122, 122);
    }

}


.Log-In label {
    color: white;
    font-family: arial;
    font-size: 2.6vw;
    font-weight: bold;
    z-index: 1;
}

.sign-input-box {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.inputs {
    width: 100%;
    aspect-ratio: 7/1;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.inputs input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: arial;
    font-size: 1.2vw;
}

.inputs input:focus {
    outline: none;
}

.inputs input::placeholder {
    font-size: 1.1vw;
}


.inputs button {
    height: 85%;
    aspect-ratio: 1;
    position: absolute;
    right: 6px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.inputs button:hover {
    background: rgba(128, 128, 128, 0.479);
}

.Sign-Submit-Sec {
    width: 70%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.Sign-Submit-Sec p {
    color: white;
    font-size: 1vw;
    font-family: arial;
    margin-top: 17px;
}

.Sign-Submit-Sec a:hover {
    color: blue;
    cursor: pointer;
}

.Sign-submit {
    width: 100%;
    aspect-ratio: 7/1;
    border-radius: 3px;
    background: black;
    border: 2px solid white;
    color: white;
    font-family: arial;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    animation: SHine infinite linear 2s;
}

.Sign-submit:hover {
    background: rgb(239, 239, 239);
    box-shadow: 2px 2px 10px rgb(255, 255, 255), -2px -2px 10px rgb(255, 255, 255);
    color: black;
    border: none;
    transition: 0.2s ease;
}

.Sign-submit:active {
    transform: scale(0.97);
}

.sub-header-right {
    width: 40%;
    height: max-content;
    position: relative;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    color: whitesmoke;
    font-size: 8vw;
    border: 1px solid white;
    margin-bottom: 2%;
    border-style: none none solid none;
}


.truck-animation {
    width: 100%;
    aspect-ratio: 7/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
}

.truck-animation img {

    height: 100%;
    aspect-ratio: 1;
    margin-bottom: 2%;

}

.truck-line {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    animation: truck_anime linear 1s;
    position: relative;
}

.truck-line h1 {
    font-size: 2.2vw;
    min-width: 500px;
    color: white;
    padding-left: 10%;
}

@keyframes truck_anime {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}

@media screen and (max-width: 730px) {
    .Introduction-section {
        flex-direction: column-reverse;
        padding: 30px 0 100px 0;
        justify-content: space-between;

    }

    .Log-In {
        width: 70%;
    }

    .Log-In label {
        font-size: 7vw;
    }

    .inputs input {
        font-size: 3.5vw;
    }

    .inputs input::placeholder {
        font-size: 3vw;
    }

    .Sign-Submit-Sec p {
        font-size: 2.5vw;
    }

    .Sign-submit {
        font-size: 3vw;
    }

    .sub-header-right {
        width: 70%;
        margin-bottom: 70px;
    }

    .welcome-text {
        font-size: 13vw;
    }

    .truck-animation {
        aspect-ratio: 6/1;
        width: 100%;
        position: relative;
    }

    .truck-animation img {
        display: flex;
        aspect-ratio: 1;
        height: 100%;
    }

    .truck-line h1 {
        font-size: 4vw;
        padding-left: 5%;
    }
}