.plan-sec {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0 200px 0;
}

.plan-con {
    height:max-content;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    row-gap: 120px;
    justify-items: center;
    
}

.planitem{
    height: 600px;
    width: 90%;
    display: flex;
    box-shadow: 0 1px 10px rgb(132, 132, 132);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.planbuy {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.planitem button {
    position: absolute;
    bottom: -60px;
    height: 50px;
    width: 40%;
    background: black;
    border: none;
    color: white;
    font-family: Arial;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.advantage{
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px gray;
    border-style: solid none none none;
    padding-top: 60px;
    margin-bottom: 35px;
}

.advantage h1 {
    position: relative;
    font-size: 16px;
    top: 0;
    left: 0;
}

@media screen and (max-width: 688px) {
    .plan-sec{
        margin: 100px 0 100px 0;
    }
    .plan-con{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,1fr);
        row-gap: 70px;
    }
    .planitem{
        height: 500px;
    }
}
