.plan-sec{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 100px 0;
}

.plan-con{
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    gap: 100px;
}

.planitem{
    display: flex;
    height: 230px;
    width: 100%;
    justify-content: start;
    align-items: center;
    box-shadow: 0 1px 10px rgb(181, 181, 181);
    border-radius: 5px;
    overflow: hidden;
}

.planbuy{ 
    flex-shrink: 0;
    display: flex;
    width: 170px;
    height: 100%;
    flex-direction: column;
    position: relative;
    background: black;
    color: white;
    font-family: arial;
    align-items: center;
    justify-content: space-evenly;
}


.planbuy button {
    height: 40px;
    width: 80%;
    border: 2px solid white;
    background: black;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.advantage {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10px;
    font-family: arial;
}

.advantage ul {
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 50px 0 0 70px ;
}

.advantage h1 {
    position: absolute;
    left: 30px;
    top: 5px;
}

@media screen and (max-width: 1380px) {
    .plan-con{
        width: 90%;
    }
    .advantage {
        margin-left: 0;
    }
    .advantage ul {
        padding: 50px 0 0 70px;
    }
}

@media screen and (max-width: 1220px) {
    .plan-con{
        grid-template-columns: 500px;
        justify-items: center;
        align-items: center;
        justify-content: center;
        grid-template-rows: repeat(4, 1fr);
    }

    .planitem {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 680px) {
    .plan-sec{
        margin: 100px 0 100px 0;
    }
    .plan-con{
        gap: 20px;
    }
    .planitem{
        transform: scale(0.9);
    }
}

@media screen and (max-width: 480px) {
    .plan-sec{
        margin: 50px 0 50px 0;
    }
    .plan-con{
        gap: 0;
    }
    .planitem{
        
        transform: scale(0.7);
    }
}