.plan-board{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20% 0 10% 0;
}

.plan-grid{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 24%;
    column-gap: 4%;
}

.plan-item{
    width: 100%;
    aspect-ratio: 3;
    background: white;
    box-shadow: 0 1px 10px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-family: arial;
}

.plan-buy{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 30%;
}

.plan-buy h1{
    color: white;
    font-size: 2vw;
}

.plan-buy button{
    color: white;
    background: black;
    border: 2px solid white;
    width: 80%;
    aspect-ratio: 3;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
}

.plan-adv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.plan-adv ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 80%;
    width: 70%;
    font-size: 1vw;
}


@media screen and (max-width: 980px) {
    
    .plan-board{
        margin: 26% 0 20% 0;
    }

    .plan-grid{
        column-gap: 1%;
        row-gap: 25%;
    }

    .plan-item{
        width: 75%;
        aspect-ratio: 3/4;
        flex-direction: column;
    }

    .plan-buy{
        width: 100%;
        height: 40%;
    }

    .plan-buy button{
        aspect-ratio: 6;
        font-size: 1.5vw;
    }

    .plan-adv{
        height: 60%;
        width: 100%;
    }

    .plan-adv ul {
        padding: 0;
        list-style: none;
        text-decoration: underline;
        width: 100%;
        align-items: center;
        font-size: 1.5vw;
    }

}


@media screen and (max-width: 670px) {

    .plan-board{
        margin: 40% 0 30% 0;
    }
    
    .plan-grid{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        row-gap: 15%;
    }

    .plan-buy h1 {
        font-size: 5vw;
    }

    .plan-buy button{
        font-size: 3vw;
    }

    .plan-adv ul {
        font-size: 2.5vw;
    }

}






