html {
  -webkit-text-size-adjust: 100%;
}

*{
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  background: rgb(231, 231, 231);
  margin: 0;
  height: 100vh;
}

@font-face {
  font-family: vazir;
  src: url(Fonts/Vazir-Bold.ttf);
}

@font-face{
  font-family: milk;
  src: url(Fonts/Milker.otf);
}

.userprf {
  display: none;
}